
/* Box sizing */

*,
*::before,
*::after {
    box-sizing: border-box;
}

.text-white {
    color: white;
}

/* Reset margins */

body,
h1,
h2,
h3,
h4,
p,
figure,
picture {
    margin: 0;
    background: #121826;
}

/* set up the body */

body {
    line-height: 1.5;
    min-height: 100vh;
}

/* make images easier to work with */

img,
picture {
    min-width: 100%;
    display: block;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.container {
    padding-inline: 1em;
    margin-inline: auto;
    max-width: 80rem;
}

.logo {
    margin: 2rem;
}

.nav-section {
    
    position: relative;
}

.bg-img img {
    object-fit: cover;
    position: absolute;
    top: -4px;
    height: 50rem;
    
}

.primary-header {
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    position: relative;
}

.mobile-nav-toggle {
    display: none;
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    background: hsl(0 0% 100% / 0.1);
        backdrop-filter: blur(5rem);
}

.primary-navigation a {
    text-decoration: none;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
}

.primary-navigation a:hover {
    text-decoration: none;
    color: #539D98;
    font-family: 'Barlow Condensed', sans-serif;

}


.primary-navigation a > [aria-hidden="true"] {
    font-weight: 700;
    margin-inline-end: .75em;
    overflow-x: auto;
}

.logo {
    width: 5rem;
    margin: 2rem;
}



    @media (min-width: 35em) and (max-width: 55em) {

        .primary-navigation a > span[aria-hidden="true"] {

            display: none;


        }
    }

    @media (min-width: 35em) {
        .primary-navigation {
            --gap: 2rem;
            padding-block: 1.5rem;
            padding-inline: clamp(2rem, 4vw, 13rem);
        }

        
    }

    @media (max-width: 35em) {
        .primary-navigation {
            z-index: 1000;
            --gap: 3em;
            position: fixed;
            inset: 0 0 0 30%;
            flex-direction: column;
            background: steelblue;

            padding: 3rem 2rem;
        
            background: hsl(0 0% 100% / 0.1);
            backdrop-filter: blur(2rem);

            transform: translateX(100%);
        }

        .primary-navigation[data-visible="true"] {
            transform: translateX(0%);
        }

        /* .bg-img img {
            object-fit: cover;
            position: absolute;
            top: -4px;
            height: 162.8125rem;
        } */
        
        .mobile-nav-toggle {
            z-index: 9999;
            position: absolute;
            background: url("/images/icons8-mobile-application-hamburger-menu-setting-interface-24.png");
            background-repeat: no-repeat;
            width: 2rem;
            border: 0;
            aspect-ratio: 1;
            top: 2rem;
            right: 2rem;
            display: block;
            
        }

        .primary-navigation a {
            font-size: 1.5rem;
            
        }

        .logo {
            width: 3rem;
            

        }

        
    }

.sr-only {
    position: absolute; 
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px; 
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
  }

  /* main section of usage */
  
  .main-section {
      align-items: center;
      justify-content: center;
        margin-top: 5rem;
        flex-direction: column;
    --gap: 2rem;
      
  }

  .main-section-content {
      font-family: 'Lato', sans-serif;
      font-size: 1.2rem;
      color: whitesmoke;
  }


  .main-section-footer-content {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    color: whitesmoke;
  }
  
  .text-brand-teal-dark {
    color: #539D98;
}