<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UI Components</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&family=Barlow:wght@400;700&display=swap"
            rel="stylesheet">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
            
    <link rel="stylesheet" href="/css/docs.css">
        
</head>
<body>
    <header class="primary-header flex">
        <div class="flex">
            <a href="/index.html"><img src="/images/zerogui1.png" alt="logo" class="logo"></a>
        </div>
        
        <button class="mobile-nav-toggle" aria-controls="primary-navigation" aria-expanded="false"><span class="sr-only">MENU</span></button>
        
        
        
        <nav class="nav-section">
            <ul id="primary-navigation" data-visible="false" class="primary-navigation flex">
                <li class="active">
                    <a href="/components/docs.html">
                        <span aria-hidden="true">01</span>USAGE
                    </a>
                </li>
                <li class="active">
                    <a href="avatars">
                        <span aria-hidden="true">02</span>AVATAR
                    </a>
                </li>
                <li class="active">
                    <a href="index.html">
                        <span aria-hidden="true">03</span>ALERT
                    </a>
                </li>
                <li class="active">
                    <a href="index.html">
                        <span aria-hidden="true">04</span>BADGE
                    </a>
                </li>
                <li class="active">
                    <a href="index.html">
                        <span aria-hidden="true">05</span>BUTTON
                    </a>
                </li>
                <li class="active">
                    <a href="index.html">
                        <span aria-hidden="true">06</span>CARD
                    </a>
                </li>
                <li class="active">
                    <a href="index.html">
                        <span aria-hidden="true">07</span>IMAGE
                    </a>
                </li>
                <li class="active">
                    <a href="index.html">
                        <span aria-hidden="true">08</span>INPUT
                    </a>
                </li>
                <li class="active">
                    <a href="index.html">
                        <span aria-hidden="true">09</span>LIST
                    </a>
                </li>
                <li class="active">
                    <a href="index.html">
                        <span aria-hidden="true">10</span>NAVIGATION
                    </a>
                </li>
                <li class="active">
                    <a href="index.html">
                        <span aria-hidden="true">11</span>TOAST
                    </a>
                </li>
            </ul>
        </nav>
    </header>    
    
    <main>
        <div>
            <h1>Avatars</h1>
            <p>The Avatar component is used to represent a user, and displays the profile picture.</p>
        </div>

        <div>
            <h3>Default</h3>
            <p>You can display an avatar with just text or image.</p>
        </div>

        <div>

        </div>
    </main>




    <script src="/nav.js"></script>
</body>
</html>