<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>

            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&family=Barlow:wght@400;700&display=swap"
                rel="stylesheet">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;700&family=DM+Mono:wght@300&family=Lato:wght@400;700&display=swap" rel="stylesheet">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;700&family=DM+Mono:wght@300&family=Lato:wght@400;700&family=Open+Sans&display=swap" rel="stylesheet">
                        
    <link rel="stylesheet" href="/css/docs.css">
    <link rel="stylesheet" href="/css/avatars.css">
    <link rel="stylesheet" href="/css/alerts.css">
    <link rel="stylesheet" href="/css/badge.css">
    <link rel="stylesheet" href="/css/button.css">
    <link rel="stylesheet" href="/css/cards.css">
    <link rel="stylesheet" href="/css/images.css">
    <link rel="stylesheet" href="/css/input.css">
        
</head>
<body>
    <header class="primary-header flex">
        <div class="flex">
            <a href="/index.html"><img src="/images/zerogui1.png" alt="logo" class="logo"></a>
        </div>
        
        <button class="mobile-nav-toggle" aria-controls="primary-navigation" aria-expanded="false"><span class="sr-only">MENU</span></button>
        
        
        
        <nav class="nav-section">
            <ul id="primary-navigation" data-visible="false" class="primary-navigation flex">
                <li class="active">
                    <a href="/components/docs.html">
                        <span aria-hidden="true">01</span>USAGE
                    </a>
                </li>
                <li class="active">
                    <a href="avatars">
                        <span aria-hidden="true">02</span>AVATAR
                    </a>
                </li>
                <li class="active">
                    <a href="/components/all-ui-components/alerts.html">
                        <span aria-hidden="true">03</span>ALERT
                    </a>
                </li>
                <li class="active">
                    <a href="/components/all-ui-components/badge.html">
                        <span aria-hidden="true">04</span>BADGE
                    </a>
                </li>
                <li class="active">
                    <a href="/components/all-ui-components/button.html">
                        <span aria-hidden="true">05</span>BUTTON
                    </a>
                </li>
                <li class="active">
                    <a href="/components/all-ui-components/cards.html">
                        <span aria-hidden="true">06</span>CARD
                    </a>
                </li>
                <li class="active">
                    <a href="/components/all-ui-components/images.html">
                        <span aria-hidden="true">07</span>IMAGE
                    </a>
                </li>
                <li class="active">
                    <a href="/components/all-ui-components/input.html">
                        <span aria-hidden="true">08</span>INPUT
                    </a>
                </li>
                <li class="active">
                    <a href="index.html">
                        <span aria-hidden="true">09</span>LIST
                    </a>
                </li>
                <li class="active">
                    <a href="index.html">
                        <span aria-hidden="true">10</span>NAVIGATION
                    </a>
                </li>
                <li class="active">
                    <a href="index.html">
                        <span aria-hidden="true">11</span>TOAST
                    </a>
                </li>
            </ul>
        </nav>
    </header>    
    
    <main class="main-section-alerts flex">
    
    <div class="main-section-alerts-content">
        <div>
            <h1 class="teal-brand-dark">Input📝</h1>
        </div>
         <!-- Input Field -->
    <div class="default-alert-about m-x-22">
        <h3>Input Field</h3>
        <div class="divider"></div>
    </div>
    
    <div class="divider"></div>

    <!-- accordian -->
    <div class="accordian">
        <button type="button" class="accordian__button">Code</button>
        <div class="accordian__content">
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%280%2C0%2C0%2C0%29&t=seti&wt=none&l=javascript&width=680&ds=true&dsyoff=81px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2509%253Cdiv%2520class%253D%2522responsive-image%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520src%253D%2522https%253A%252F%252Fsource.unsplash.com%252FD0k-LNSSevo%2522%2520alt%253D%25223dimage%2522%253E%250A%2520%2520%2520%2520%253C%252Fdiv%253E"
                style="width: 680px; height: 114px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        </div>
    </div>

    <div class="divider"></div>
        
    <div class="input-text">
        <input type="text" placeholder="Enter your Username">
        <input type="password" placeholder="Password">
    </div>

    <!-- Input Field with error-->
    <div class="default-alert-about m-x-22">
        <h3>Input with error</h3>
        <div class="divider"></div>
    </div>
    

    <!-- accordian -->
    <div class="accordian">
        <button type="button" class="accordian__button">Code</button>
        <div class="accordian__content">
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%280%2C0%2C0%2C0%29&t=seti&wt=none&l=javascript&width=680&ds=true&dsyoff=81px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2509%253Cdiv%2520class%253D%2522responsive-image%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520src%253D%2522https%253A%252F%252Fsource.unsplash.com%252FD0k-LNSSevo%2522%2520alt%253D%25223dimage%2522%253E%250A%2520%2520%2520%2520%253C%252Fdiv%253E"
                style="width: 680px; height: 114px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        </div>
    </div>

    <div class="divider"></div>
        
    <div class="input-text-error">
        <input type="password" placeholder="Password">
        <p>Wrong Password</p>
    </div>



    <!-- radio button-->
    <div class="default-alert-about m-x-22">
        <h3>Radio Button</h3>
        <div class="divider"></div>
    </div>
    

    <!-- accordian -->
    <div class="accordian">
        <button type="button" class="accordian__button">Code</button>
        <div class="accordian__content">
            <iframe
                src="https://carbon.now.sh/embed?bg=rgba%280%2C0%2C0%2C0%29&t=seti&wt=none&l=javascript&width=680&ds=true&dsyoff=81px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2509%253Cdiv%2520class%253D%2522responsive-image%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520src%253D%2522https%253A%252F%252Fsource.unsplash.com%252FD0k-LNSSevo%2522%2520alt%253D%25223dimage%2522%253E%250A%2520%2520%2520%2520%253C%252Fdiv%253E"
                style="width: 680px; height: 114px; border:0; transform: scale(1); overflow:hidden;"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
        </div>
    </div>

    <div class="divider"></div>
        
    <div class="raio-btn">
        <input type="radio" name="fav_lang" value="HTML5">
        <label for="HTML5">HTML5</label><br>
        <input type="radio" name="fav_lang" value="CSS">
        <label for="CSS">CSS</label><br>
        <input type="radio" name="fav_lang" value="JavaScript">
        <label for="JavaScript">JavaScript</label><br>
        <input type="radio" name="fav_lang" value="PHP" disabled>
        <label for="PHP">PHP</label>




    </div>

    
</main>




    <script src="/nav.js"></script>
    <script src="/accordian.js"></script>
</body>
</html>